body,
html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 240px auto auto;
	gap: 10px;
	width: 95vw; 
	height: 95vh;
	box-sizing: border-box;
	padding: 10px;
}

.block {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-align: center;
}

.large {
	grid-column: span 2;
} 
.medium {
	grid-column: span 1;
} 
.small {
	grid-column: span 1;
} 

@media (max-width: 768px) {
	.dashboard {
		grid-template-columns: 1fr;
	}
	.block {
		width: 100%;
	}
}
#currentSprintProgress {
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
  }
  
  