body,
html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* Four columns */
	grid-template-rows: auto; /* Row height to fit content */
	gap: 10px;
	width: 95vw; /* Adjust based on your design preferences */
	height: 95vh; /* Adjust based on your design preferences */
	box-sizing: border-box;
	padding: 10px;
}

.block {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-align: center;
}

/* Different block sizes based on the class */
.large {
	grid-column: span 2;
} /* Takes two columns */
.medium {
	grid-column: span 1;
} /* Takes one column */
.small {
	grid-column: span 1;
} /* Takes one column, but could be less tall */

/* Responsive adjustments */
@media (max-width: 768px) {
	.dashboard {
		grid-template-columns: 1fr; /* Stack blocks in a single column on small screens */
	}
	.block {
		width: 100%; /* Full width blocks on small screens */
	}
}

/* Kanban stylings */
#kanbanBoard {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.kanban {
	display: flex;
	flex-direction: row;
	gap: 5px;
	text-align: center;
	/* border: 1px solid gray;
	border-radius: 5px;
	padding: 5px; */
}

.kanban__column-header {
	border: 2px solid blue;
	border-radius: 4px;
	margin-bottom: 5px;
	padding: 4px;
	font-weight: bold;
}

.kanban__card {
	border: 2px solid lightblue;
	border-radius: 4px;
	margin-bottom: 2px;
	padding: 3px;
}

#kanbanToDo .kanban__column-header {
	border-color: orangered;
}

#kanbanInProgress .kanban__column-header {
	border-color: gold;
}

#kanbanDone .kanban__column-header {
	border-color: green;
}